

.alert-error {
    background: rgba(226, 34, 120, 0.788);
    border: 1px solid rgb(133, 10, 34)
}


#dropArea {
    border: 1px solid black;
    width: 320px;
    height: 180px;
}

input#id_image {
    
    display: none;
    
}

#dragArea {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}