@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Cormorant+Infant:ital,wght@0,300;0,400;1,300;1,500;1,600;1,700&display=swap');

$sm-margin: 35px;
    
$md-margin: 70px;


.image-section {
    background-image: url('../images/register-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: inherit;
    &--overlay {
        mix-blend-mode: hard-light;
        background-color: rgba(186, 186, 186, 0.273);
    }
    &--hero {
        
        &-header {
            font-family: 'Bonheur Royale', cursive;
            font-size: 9rem;

            color: white;
        }
        .slogan {
            
            font-family: 'Cormorant Infant', serif;
            font-weight: 700;
            font-size: 5rem;
            
            color: rgb(252, 171, 40);

            background-color: rgba(0, 0, 0, 0.648);
            .link-to-homepage {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-decoration: underline;
                color: rgb(2, 159, 94);
                transition: 0.15s ease-in-out;
                &:hover {
                    color: rgb(140, 227, 191);
                    transform: scale(1.02);
                }
            }
        }
    }
}

.w-45 {
    min-width: 40%;
}


.credential-section {
    padding: 2rem 3rem;

    &--head {
        font-family: 'Cormorant Infant', serif;
        font-style: italic;
        font-weight: 700;
        font-size: 4rem;


        line-height: 3rem;       
        h1 {
            font-size: 5rem;
        }
    }
    &--logo {
        width: 10rem;
        height: auto;
    }
    .form-control {
        border-radius: 0;
    }

   
}


.credential-page-container {
    height: 100vh;
}



