body {
    padding: 10px;
}

.required::before {
    content: "*";
    color: red;
}

.no-show {
    display: none !important;
}

.flex-box {
    display: flex;
    &--listing-owner-box {
        justify-content: flex-end;
    }
}

.dropdown {
    font-size: 0.75rem;
    button {
        font-size: inherit;
    }
}