body {
    padding: 10px;
}

.required::before {
    content: "*";
    color: red;
}

.no-show {
    display: none;
}

.flex-box {
    display: flex;
    &--listing-owner-box {
        justify-content: flex-end;
    }
}