

.site-title {
    font-family: 'Bonheur Royale', cursive;
    font-size: 4rem;
    transform: translateY(10%);
}

.link {
    
    color:rgb(88, 168, 233);
    &:hover{
        text-decoration: underline; 
        color: rgb(255, 119, 0);
    }
}



.header-container {
    width: 85%;
}


.listing {
    &-main-info {
        min-width: 30rem;
        max-width: 37.5rem;
        .watch-box {
            right: 0;
            transform: scale(0.85);
        }
    }
    &-title {
        font-family: Georgia,times new roman,Times,serif;
        font-size: 2.5rem;
        font-style: italic;
        width: 80%;
    }
    &-info {
        border-bottom: 1px solid rgb(183, 183, 183);
    }
    &-bid-info {
        background: #f1f3f4;
        max-width: 20rem;
        max-height: 25rem;
        &-link {
            color:rgb(54, 54, 54);
           
        }
    }
    &-minor-info {
        font-size: 0.75rem;
    }
    &-description {
        max-width: 32rem;
    }
    &-poster-info {
        color: rgb(54, 54, 54);
        font-size: 0.875rem;
    }
}

.status-tag {
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    &-active {
        background: rgb(60, 60, 60);
        color:rgb(233, 233, 233);
    }
    &-closed {
        font-size: 1.25rem;
        background: rgb(255, 187, 0);
        font-weight: 700;

        border-radius: 2px;
    }
}

.bid-box {
    input {
        padding: 0.5rem;
        height: 2.5rem;
    }
}

.eye-icon {
    transform: scale(1.5);
    &::before {
        color: rgb(255, 123, 0);
        transform: translateY(-10%);
    }
}

.congrats{
    font-family: Georgia,times new roman,Times,serif;
    font-style: italic;
}




// Comment Section
.comment-input {
    textarea {
        width: 100%;
        min-width: 40rem;
        padding: 0.5rem;
    }
}

.comment-section {
    &--leave-commnet {
        textarea {
            &::placeholder {
                font-style: italic;
                font-size: 1.25rem;
            }
        }
    }
    &--header {
        width: 90%;
    }
    &--body {
        width: 80%;
        min-width: 40rem;

        border-bottom: 1px solid #c1c1c1;

        .comment-profile-icon {
            width: 2rem;
            .user-icon {
                &::before {
                    transform: translateY(70%) scale(3);
                }
            }
        }
        textarea {
            width: 100%;
            padding: 0.5rem;
            margin-left: 1rem;
            
            border: none;
            background: inherit;
        }
        .commenter {
            font-size: 1.25rem;
            font-weight: 600;
        }
        .comment-time {
            color: rgb(128, 127, 127);
            font-size: 0.75rem;
            
        }
    }

}


