@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,300&display=swap");
:root {
  font-family: "Nunito", sans-serif;
  color: rgb(80, 80, 80);
}

body {
  padding: 10px;
  font-family: inherit;
  font-weight: 600;
  color: inherit;
}

.required::before {
  content: "*";
  color: red;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.no-show {
  display: none !important;
}

@media (min-width: 992px) {
  .nav-container {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .nav-container {
    width: 90%;
  }
}
#dropArea {
  border: 1px solid black;
  width: 320px;
  height: 180px;
}

input#id_image {
  display: none;
}

#dragArea {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .cate-container {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .cate-container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .cate-container {
    width: 70%;
  }
}
.cate-container {
  margin-top: 2rem;
  height: 70vh;
}
.cate-container .category-box {
  height: 20rem;
  max-width: 31.125rem;
  min-width: 25.625rem;
}
.cate-container .category-box .card {
  height: 100%;
  transition: all 0.15s ease-in-out;
}
.cate-container .category-box .card:hover {
  scale: 1.01;
}
.cate-container .category-box .card:hover .text-overlay {
  background: rgba(255, 255, 255, 0.4); /* Black overlay with 50% opacity */
}
.cate-container .category-box .category-btn {
  font-size: 2rem;
  height: inherit;
}
.cate-container .category-box .text-overlay {
  background: rgba(255, 255, 255, 0.2); /* Black overlay with 50% opacity */
}

.container-watchlist {
  padding: 0;
}
.container-watchlist .card-watchlist-item {
  height: 20rem;
}
.container-watchlist .card-watchlist-item a {
  height: inherit;
}
.container-watchlist .card-watchlist-item a .watchlist-img {
  width: 20rem;
}

.listing-info-price {
  font-weight: 800;
  font-size: 1.5rem;
}
.listing-info-bids {
  background-color: rgb(247, 209, 85);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  margin: 0.25rem 0;
}
.listing-status-time {
  font-size: 0.75rem;
  font-weight: 800;
  color: rgb(120, 120, 120);
  margin-top: 0.5rem;
}
.listing-remove i {
  bottom: 10px;
}
.listing-remove i::before {
  transform: translateY(-15%) scale(1.35);
}

.status-box {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}
.status-box .status {
  padding: 0.125rem 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}
.status-box .status-open {
  background-color: rgb(131, 215, 136);
}
.status-box .status-cancelled {
  color: rgb(245, 243, 243);
  background-color: rgba(242, 68, 68, 0.914);
}
.status-box .status-closed {
  background-color: rgba(125, 125, 125, 0.746);
}

.thumbnail-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.product-info-container {
  width: 25rem;
}

.myposting-cancel i::before {
  transform: translateY(-16%);
}

.link {
  color: rgb(88, 168, 233);
}
.link:hover {
  text-decoration: underline;
  color: rgb(255, 119, 0);
}

.listing-main-info {
  min-width: 30rem;
  max-width: 40.5rem;
}
.listing-main-info .watch-box {
  right: 0;
  transform: scale(0.85);
}
.listing-title {
  font-family: Georgia, times new roman, Times, serif;
  font-size: 2.5rem;
  font-style: italic;
  width: 80%;
}
.listing-info {
  border-bottom: 1px solid rgb(183, 183, 183);
}
.listing-bid-info {
  background: #f1f3f4;
  max-width: 25rem;
  max-height: 25rem;
}
.listing-bid-info-link {
  color: rgb(54, 54, 54);
}
.listing-minor-info {
  font-size: 0.75rem;
}
.listing-description {
  max-width: 30rem;
}
.listing-poster-info {
  color: rgb(54, 54, 54);
  font-size: 0.875rem;
}

.status-tag {
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
}
.status-tag-active {
  background: rgb(60, 60, 60);
  color: rgb(233, 233, 233);
}
.status-tag-closed {
  font-size: 1.25rem;
  background: rgb(255, 187, 0);
  font-weight: 700;
  border-radius: 2px;
}

.bid-box input {
  padding: 0.5rem;
  height: 2.5rem;
}

.eye-icon {
  transform: scale(1.5);
}
.eye-icon::before {
  color: rgb(255, 123, 0);
  transform: translateY(-10%);
}

.congrats {
  font-family: Georgia, times new roman, Times, serif;
  font-style: italic;
}

.comment-input textarea {
  width: 100%;
  min-width: 40rem;
  padding: 0.5rem;
}

.user-icon::before {
  transform: translateY(50%) scale(2);
}

.comment-section--body {
  width: 80%;
  min-width: 40rem;
}
.comment-section--body textarea {
  width: 100%;
  padding: 0.5rem;
}

.nav-item {
  padding: 0.5rem 1rem 0 0.25rem;
}

.nav-watchlist {
  position: relative;
}
.nav-watchlist .watchlist-counter {
  position: absolute;
  right: -0.15%;
  top: 50%;
  font-size: 10px;
  background: rgb(229, 81, 81);
  color: white;
  padding: 1px 4px;
  border-radius: 15%;
}

.dropdown:focus {
  outline: none;
}
.dropdown--comment-actions {
  font-size: 0.75rem;
}
.dropdown--comment-actions button {
  font-size: inherit;
}
.dropdown .greeting-user {
  font-size: 110%;
}

.account-actions {
  font-weight: 600;
}
.account-actions .login-text {
  color: #4A5465;
}
.account-actions .signup-text {
  background: #FF5924;
  color: white;
  border-radius: 25px;
  margin-left: 1rem;
  padding: 0.625rem 1.25rem;
  transition: box-shadow 0.25s ease-in-out;
}
.account-actions .signup-text:hover {
  box-shadow: 0px 8px 16px rgba(255, 89, 36, 0.2);
}

.card-box {
  height: 40rem;
}
.card-box .listing-img-box {
  height: 60%;
}
.card-box .listing-img-box .listing-img {
  max-width: 100%;
  max-height: 100%;
}

.img-box {
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box img {
  width: 100%;
  height: 100%;
}

.pricing-box {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
.pricing-box .price-integer {
  line-height: 1;
  font-size: 2rem;
  font-weight: 600;
}/*# sourceMappingURL=styles.css.map */