{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="bid-item-container text-center " >
        <h2 class="record-title">Bid Records</h2>
        <h1 ><a class="link" href="{% url 'listing' listing.id %}">{{ listing.title}}</a></h1>
    </div>
    
    <div class="container mt-5">
        <table class="table table-bordered ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Bidder</th>
                    <th scope="col">Bid Price</th>
                    <th scope="col">Placed Time</th>
                </tr>
            </thead>
            <tbody >
                
                {% for bid in bids %}
                    <tr>
                        <td>{{bid.user.username}} 
                            {% if listing.poster == bid.user %}
                                <span class="info-tag info-tag--poster">listing poster</span>
                            {% elif listing.winner == bid.user%} 
                                <span class="info-tag info-tag--winner">winner</span>
                            {% endif %}
                        </td>
                        <td>${{ bid.price }} 
                            {% if listing.poster == bid.user %} 
                                <span class="info-tag info-tag--opening-price" >opening price</span> 
                            {% endif %}
                        </td>
                        <td>{{ bid.updated_at }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    
    
{% endblock %}