{% extends "auctions/layout.html" %}

{% load static %}


{% block head %}
    <script src="{% static 'script/create_listing.js' %}" defer></script>
{% endblock %}

{% block body %}

    <h2>Post a new auction</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show">
                {{ message }}
                                      <!-- BooStrap class and script -->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-field">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-field">
            <div>
                {{ form.description.label_tag }}
            </div>
            {{ form.description }}
        </div>
        <div class="form-field">
            {{ form.starting_bid.label_tag }}
            {{ form.starting_bid }}
        </div>
        <div>
            <h4>Opetional:</h4>
        </div>
        <div class="form-field">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-field">
            {{ form.new_category.label_tag }}
            {{ form.new_category }}
        </div>
        
        <div id="dropArea">
            <div id="dragArea">
                {{ form.image }}  <!-- Currently hidden -->
                <!-- label with the image id will take up its function -->
                <label id="imageLabel" for="{{ form.image.id_for_label }}">
                    <span>Upload Image</span>
                </label>
            </div>
            <img id="imagePreview" src="#" alt="Image Preview" style="display:none; width: 320px; height: 180px;">
        </div>
        
        <input class="btn btn-primary" type="submit" value="Post">
    </form>

   

{% endblock %}