{% extends 'auctions/layout.html' %}


{% load static %}

    
{% block head %}
    <script src="{% static 'script/listing.js' %}"></script> 
    <meta name="csrf-token" content="{{ csrf_token }}">  
{% endblock %}

{% block body  %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show">
                {{ message }}
                                    <!-- BooStrap class and script -->
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
            </div>
        {% endfor %}
    {% endif %}

    
    
    {% if user.id == listing.poster.id and listing.status == 'open' %}
        <!-- Poster only: Close & Cancel Auction Buttons -->
        <div id="listing-owner-container" class="flex-box flex-box--listing-owner-box">
            <form action="{% url 'close_auction' %}" method="post">
                {% csrf_token %}
                
                <button class="btn btn-primary" type="submit">Close acution</button>
            </form>

            <form action="{% url 'cancel_auction' %}" method="post">
                {% csrf_token %}
                
                <button class="btn btn-danger" type="submit">Cancel acution</button>
            </form>

        </div>
        
    {% endif %}

    <div class="container">
        {% if listing %}

            <div class="listing">
                <div class="img-box">
                    <!-- Ensure the onerror function at src will call only once, in case the fallback image is also lost -->
                    <img 
                        src="{% if listing.image %}{{ listing.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" 
                        alt="{{ listing.description }}"
                        onerror="this.onerror=null; this.src=`{% static 'images/no_image.png' %}`;" 
                    >
                </div>
                <div class="product-info">
                    <h3>{{listing.title}}</h3>
                    <h4 >Price: ${{ listing.current_bid.price }}</h4>
                    <h5 class="status">Status: {{ listing.get_status_display }}</h5>
                    <div>Category: {% if listing.category %}{{ listing.category }}{% else %} Uncategorized{% endif %}</div>
                    <div>Created at: {{listing.created_at}}</div>
                    {% if listing.created_at != listing.updated_at %}
                        <div>Updated at: {{listing.updated_at}}</div>
                    {% endif %}
                    <div>Posted by: {{listing.poster.username}}</div>
                </div>
            </div>

        {% endif %}    
    </div>
    
    {% if user.is_authenticated and listing.poster != user %}
        <!-- User only(Not poster): 1. Place Bid 2. watchlist  -->
        <div class="user-container">
            <div class="bid-box">
                <form action="{% url 'place_bid' %}" method="post">
                    {% csrf_token %}
                    {{ place_bid_form.price }}
                    <button 
                        id="placeBid" 
                        class="btn btn-primary" 
                        type="submit" 
                    >
                        Place bid
                    </button>
                </form>
                
            </div>
            <div class="watch-box">
                <button 
                    id="watchlistBtn" 
                    class="btn {% if listing in user.watchlist.all %}btn-danger{% else %}btn-dark{% endif %}" 
                    type="submit"
                >
                    {% if listing in user.watchlist.all %}Remove{% else %}Watchlist{% endif %}
                </button>
            </div>
        </div>

    
        <!-- Toast body -->
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="watchlist-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-body">
                Added to watchlist.
              </div>
            </div>
        </div>
    {% endif %}

    <!-- Comment Section -->

    <div class="comment-section">
        
        <!-- Comment form -->
        <div class="comment-section--leave-commnet">
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <div>{{ comment_form.content }}</div>
                <div>
                    <button class="btn btn-primary" >Submit</button>
                </div>
            </form>
            
        </div>
        <!-- Comment header -->
        <div class="comment-section--header">
            <h2>Comments ({{ comments.count }})</h2>
        </div>
        
        {% if comments %}
            <!-- Comment bodies -->
            <div class="commnet-section--container">
                {% for comment in comments %}
                    <div class="comment-section--body">
                        <div>{{ comment.user.username }} {% if comment.user == user %}<span>Author</span>{% endif %}</div>
                        <div>{{ comment.updated_at }} {% if comment.edited %}<span>(edited)</span>{% endif %}</div>
                        <div>{{ comment.content }}</div>
                    </div>
                   
                    {% if comment.user == user %}
                        <!-- Comment Actions -->
                        <div class="comment-section--actions">
                        
                            <button id="editComment" type="button">Edit</button>
                            <form 
                                action="{% url 'delete_comment' comment.id %}" 
                                method="post" 
                                onsubmit="return confirm('Are you sure you want to delete this comment?');"
                            >
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if listing.winner %}
        <div class="winner-container">
            <span>Winner of the bid: {{ listing.winner.username }} </span>
        </div>
    {% endif%}
{% endblock %}