

{% extends "auctions/credential_layout.html" %}

{% load static %}
{% block credential %}
    
    
    <!-- Login section -->
    <div class="d-flex flex-column flex-grow-1 justify-content-center pb-5 mb-5 w-45">
        <div class="credential-section w-100">
            <img class="credential-section--logo" src="{% static 'images/dauction-2.png' %}" alt="aution logo">
            <div class="credential-section--head text-center w-100">
                <h1 class="m-0 fw-bold m-auto">
                    Delight 
                </h1>
                <h1 class="m-0 mt-3 fst-normal fs-1 fw-bold m-auto">
                    Just a Bid Away
                </h1>
                
            </div>
            
                <div class="text-center py-3" style="color: rgb(246, 99, 99);">
                    {% if message %}
                        {{ message }}
                    {% endif %}
                </div>
            
            <div class="">
                <form class="credential-section--form w-50 m-auto" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mt-3  ">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group mt-3 ">
                        <input class="form-control " type="password" name="password" placeholder="Password">
                    </div>
                        
                    <div class="text-end">
                        <input class="btn btn-dark mt-3 w-100 rounded-0" type="submit" value="Login">
                    </div>
                    
                </form>
            </div>
            <div class="text-center fs-5 mt-2">
                <div>Don't have an account yet?</div>
                <a class="link" href="{% url 'register' %}">Sign up here</a>
            </div>
            
        </div>
        
    </div>
    
    
    
{% endblock %}


<!-- {% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-dark" type="submit" value="Login">
    </form>

    Don't have an account yet? <a href="{% url 'credential' %}">Sign up here</a>

{% endblock %} -->