{% extends "auctions/blank_layout.html" %}

<!-- {% load static %} -->

{% block body %}
    <!-- Message section -->
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="register-page-container d-flex ">
        <!-- Image section -->
        <div class="image-section">
            <div class="image-section--overlay">
                <div class="image-section--hero d-flex flex-column">
                    <h1 class="image-section--hero-header">D.Auction</h1>
                    <div class="slogan text-end p-4">
                        <div>
                            <div>Where Every Click</div>  
                            <div>Brings You Closer to Your</div>
                            <div>Next Great Find </div>
                        </div>
                    </div>
                    <h1>Exceptional Finds Just a Bid Away!</h1>
                </div>
            </div>
        </div>

        <!-- Register section -->

        <div class="register-section ">
            <img class="register-section--logo" src="{% static 'images/dauction-2.png' %}" alt="aution logo">
            <h1 class="register-section--head text-center m-auto">Create a new account</h1>

            <div class="mb-3">
                <form class="register-section--form w-50 m-auto mt-5" action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    
                        <div class="form-group mt-2">
                            <label class="{% if field.field.required %}required{% else %}{% endif %}" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                        
                    <div class="text-end">
                        <input class="btn btn-primary mt-3 " type="submit" value="Register">
                    </div>
                    
                </form>
            </div>
            <div class="text-center fs-5 ">
                <div>Already have an account? </div>
                <a class="link" href="{% url 'login' %}">Log In here.</a>
            </div>
            
        </div>
    </div>
    
    

{% endblock %}